<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- ##### Name of the form panels ##### -->
    
    <!-- Menu -->
    <add key="panelMenu" value="menu" />
    <add key="panelNewGame" value="newGame" />
    <add key="panelLoadGame" value="loadGame" />
    <add key="panelGame" value="game" />
    <add key="panelConfirmDelete" value="confirmDelete" />
    
    <!-- Error -->
    <add key="panelError" value="error" />
    
    <!-- In-game -->
    <add key="panelLocation" value="location" />
    <add key="panelVendor" value="vendor" />
    
    <add key="panelTrade" value="trade" />
    <add key="panelQuestHandle" value="questHandle" />
    <add key="panelFight" value="fight" />
    
    <!-- ##### Name of the form labels ##### -->
    
    <!-- Hero -->
    <add key="labelHeroHealth" value="heroHealth" />
    <add key="labelHeroGold" value="heroGold" />
    <add key="labelHeroXP" value="heroXP" />
    <add key="labelHeroLevel" value="heroLevel" />
    <add key="labelHeroDamage" value="heroDamage" />
    <add key="labelHeroDefense" value="heroDefense" />
    
    <!-- Error -->
    <add key="labelErrorTitle" value="errorTitle" />
    <add key="labelErrorMsg" value="errorMsg" />

    <!-- ##### Name of the form textboxes ##### -->
    <add key="textBoxNewHeroName" value="newHeroName" />
    <add key="textBoxDeleteHeroName" value="deleteHeroName" />
    
    <!-- ##### Name of the form rich textboxes ##### -->
    <add key="richTextBoxConfirmDelete" value="confirmDeleteText" />
    <add key="richTextBoxEventLog" value="eventLog" />

    <!-- ##### Name of the form group boxes ##### -->
    <add key="groupBoxHeroDetails" value="heroDetails" />
    <add key="groupBoxHeroInventory" value="heroInventory" />
    <add key="groupBoxHeroQuests" value="heroQuests" />
    
    <add key="groupBoxTargetDetails" value="targetDetails" />
    <add key="groupBoxTargetInventory" value="targetInventory" />
    <add key="groupBoxTargetQuests" value="targetQuests" />
    
    <!-- ##### Name of the form list boxes ##### -->
    <add key="listBoxHeroActiveQuests" value="heroActiveQuests" />
    <add key="listBoxHeroItems" value="heroItems" />
    
    <add key="listBoxTargetAvailableQuests" value="targetAvailableQuests" />
    <add key="listBoxTargetItems" value="targetItems" />
    
    <!-- ##### Name of the form buttons ##### -->
    
    <!-- ### Menu ### -->
    <add key="btnDeleteHero" value="deleteHero" />
    
    <!-- ### Side bar ### -->
    
    <!-- Vendor -->
    <add key="btnBrangor" value="brangor" />
    <add key="btnShoj" value="shoj" />
    <add key="btnViascen" value="viascen" />

    <!-- Location -->
    <add key="btnTown" value="town" />
    <add key="btnOutskirts" value="outskirts" />
    <add key="btnMonastery" value="monastery" />

    <!-- Trade -->
    <add key="btnBuy" value="buy" />
    <add key="btnSell" value="sell" />

    <!-- Quest -->
    <add key="btnAccept" value="accept" />
    <add key="btnComplete" value="complete" />

    <!-- Fight -->
    <add key="btnAttack" value="attack" />
    <add key="btnFortify" value="fortify" />
    <add key="btnUseItem" value="useItem" />
    
    <!-- Movement -->
    <add key="btnForward" value="forward" />

    <!-- ##### Name of the MongoDB database to use ##### -->
    <add key="databaseName" value="necromind" />
    
    <!-- ##### Name of the heroes collection in the database ##### -->
    <add key="heroesCollection" value="heroes" />
    
    <!-- ##### Placeholder convention for hero's name ##### -->
    <add key="heroNamePlaceholder" value="{HERO}" />
    
    <!-- ##### Font style to use accross application ##### -->
    <add key="fontStyle" value="Courier New" />
  </appSettings>
  <connectionStrings>
    <!-- ##### Connection string for MySQL database ##### -->
    <add name="Necromind" connectionString="Server=localhost;Database=necromind;Uid=root;Pwd=;" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>