<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Names of the form panels.-->
    <add key="panelMenu" value="menu" />
    <add key="panelNewGame" value="newGame" />
    <add key="panelLoadGame" value="loadGame" />
    <add key="panelGame" value="game" />
    <add key="panelConfirmDelete" value="confirmDelete" />
    <add key="panelError" value="error" />

    <!--Names of the form labels.-->
    <add key="labelHeroHealth" value="heroHealth" />
    <add key="labelHeroGold" value="heroGold" />
    <add key="labelHeroXP" value="heroXP" />
    <add key="labelHeroLevel" value="heroLevel" />
    <add key="labelHeroDamage" value="heroDamage" />
    <add key="labelHeroDefense" value="heroDefense" />
    <add key="labelErrorTitle" value="errorTitle" />
    <add key="labelErrorMsg" value="errorMsg" />

    <!--Names of the form textboxes.-->
    <add key="textBoxNewHeroName" value="newHeroName" />
    <add key="textBoxDeleteHeroName" value="deleteHeroName" />

    <!--Names of the form group boxes.-->
    <add key="groupBoxHeroDetails" value="heroDetails" />
    <add key="groupBoxHeroInventory" value="heroInventory" />
    <add key="groupBoxTargetDetails" value="targetDetails" />
    <add key="groupBoxTargetInventory" value="targetInventory" />
    
    <!--Name of the MongoDB database to use.-->
    <add key="databaseName" value="necromind" />
    
    <!--Placeholder convention for hero's name-->
    <add key="heroNamePlaceholder" value="{HERO}" />
    
    <!--Font style to use accross application-->
    <add key="fontStyle" value="Courier New" />
  </appSettings>
  <connectionStrings>
    <add name="Necromind" connectionString="Server=localhost;Database=necromind;Uid=root;Pwd=;" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>